<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row graphs">
            <div class="col-md-4 col-md-offset-1">
                <img style="height: 350px;" src="{{ url_for('static', filename='words.png') }}">
            </div>
            <div class="col-md-4 col-md-offset-1">
                <img style="height: 350px;" src="{{ url_for('static', filename='brands.png') }}">
            </div>
        </div>
        <div style="padding-top: 100px;" class="row ebay">
            <div class="col-md-8 col-md-offset-2">
            {% if ebaydeals %}
            {% for deal in ebaydeals %}
                <div class="row">
                    <div class="col-md-5">
                        <h2><a href="{{ deal.link }}">{{ deal.title }}</a></h2>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ deal.image_url }}">
                    </div>
                    <div class="col-md-4">
                        <h4>{{ deal.price }}</h4>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
